{%extends 'base2.html'%} {% load static %} {%block content%} <br /><br />
<center>
    <div class="navbar">
  <div class="row">
    <div class="column">
      <a href="{% url 'menu:menu' %}"><img src="{%static 'images/back.png'%}" alt="" id="back"></a>
      <br />
    </div>
    <div class="column">
     <h4>Panduan</h4>
      <br />
    </div>
    <div class="column">
     <img src="{%static 'images/icon.png'%}" alt="" id="back">
      <br />
    </div>
  </div>
  </div>
  <br />
    <h3 style="margin-top:-0.5em;">Panduan Menghitung Bata</h3>
    <img src="{%static 'images/panduan1.gif'%}" alt="" id="gif" style="margin-top: -1em;"><br>
    <img src="{%static 'images/panduan2.gif'%}" alt="" id="gif" style="margin-top: -0.3em;"><br>
    <img src="{%static 'images/panduan3.gif'%}" alt="" id="gif" style="margin-top: -2em;"><br>
    
</center>
{%endblock%}
