{%extends 'base2.html'%} {% load static %} {%block content%}
<center>
<div id="super">

  <div class="title">
    <a href="{% url 'menu:menu' %}"><h5>HITUNG BATA</h5></a>
    <p id="harga2">Harga Dapat Diubah</p>
   
  </div>
  <div class="main">
    
    <a href="{% url 'hitung:batamerah' %}">
      <div class="container">
      <img src="{%static 'images/batam.png'%}" alt="" class="gambarmenu">
      <p id="menu1">Bata Merah</p><br>
      <p id="menu2">Rp. 600</p>
    </div>
  </a>
  <a href="{% url 'hitung:bataringan' %}">
    <div class="container2">
      <img src="{%static 'images/batar.png'%}" alt="" class="gambarmenu">
      <p id="menu1">Bata Ringan</p><p id="menu2">Rp. 5.000</p></div>
      </a>

      <a href="{% url 'hitung:batako' %}">
      <div class="container3"> <img src="{%static 'images/batak.png'%}" alt="" class="gambarmenu">
      <p id="menu1">Batako&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p id="menu2">Rp. 2.500</p></div>
    </a>
    
    <a href="{% url 'hitung:panduan' %}">
    <div class="container4">
      <img src="{%static 'images/ukuran2.png'%}" alt="" class="gambarmenu">
      <p id="menu1">Hitung bata</p><p id="menu2"></p>
      <p id="menu2">per m2</p></div>
    </a>
    
    <a href="{% url 'hitung:batamerah' %}">
      <div class="container2">
      <img src="{%static 'images/batam.png'%}" alt="" class="gambarmenu">
      <p id="menu1">Daftar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><br>
      <p id="menu2">Harga Bata</p>
    </div>
    
  </a>
  <a href="{% url 'hitung:bataringan' %}">
    <div class="container">
      <img src="{%static 'images/batar.png'%}" alt="" class="gambarmenu">
      <p id="menu1">Panduan</p><p id="menu2">Penggunaan aplikasi</p></div>
      </a>
  </div>
  
  

</div>
</center>
{%endblock%}
